### <font color = 'red'>  Class 25: Multiple Linear Regression

#### 1.1 Imports

In [58]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from statsmodels.formula.api import ols
import matplotlib.pyplot as plt

In [30]:
# Load dataset
penguins = sns.load_dataset('penguins',cache = False )
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

#### 1.2 Data cleaning

In [33]:
# subest data
penguins = penguins[['body_mass_g','bill_length_mm','sex','species']]
# rename columns
penguins.columns = ['body_mass_g','bill_length_mm','gender','species']
# drop rows with missing values
penguins.dropna(inplace = True)
# reset index
penguins.reset_index(drop = True,inplace = True)

In [35]:
penguins.head()

   body_mass_g  bill_length_mm  gender species
0       3750.0            39.1    Male  Adelie
1       3800.0            39.5  Female  Adelie
2       3250.0            40.3  Female  Adelie
3       3450.0            36.7  Female  Adelie
4       3650.0            39.3    Male  Adelie

#### 1.3 Create holdout sample

In [38]:
# subset x and y variables
X = penguins[['bill_length_mm','gender','species']]
Y = penguins[['body_mass_g']]

In [40]:
# create training data and holdout(teseting) data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 42)

#### 1.4 Model Construction

In [45]:
# write ols formula using ~ for continuous variable (bill length) and use C() to indicate categorical variable
ols_formula = 'body_mass_g ~ bill_length_mm + C(gender) + C(species)'

In [51]:
# Create ols dataframe
ols_data = pd.concat([X_train,Y_train], axis = 1)

# Fit data into the model
OLS = ols(formula = ols_formula,data = ols_data)
model = OLS.fit()

#### 1.5 Model evaluation

In [54]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            body_mass_g   R-squared:                       0.850
Model:                            OLS   Adj. R-squared:                  0.847
Method:                 Least Squares   F-statistic:                     322.6
Date:                Sat, 24 Aug 2024   Prob (F-statistic):           1.31e-92
Time:                        11:11:00   Log-Likelihood:                -1671.7
No. Observations:                 233   AIC:                             3353.
Df Residuals:                     228   BIC:                             3371.
Df Model:                           4
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                2032.2111    354.087      5.739      0.000    1334.510    2729.913
C(gender)[T.Male]         528.9508     55.105      9.599      0.000     420.371     637.531
C(species)[T.Chinstrap]  -285.3865    106.339     -2.684      0.008    -494.920     -75.853
C(species)[T.Gentoo]     1081.6246     94.953     11.391      0.000     894.526    1268.723
bill_length_mm             35.5505      9.493      3.745      0.000      16.845      54.256
==============================================================================
Omnibus:                        0.339   Durbin-Watson:                   1.948
Prob(Omnibus):                  0.844   Jarque-Bera (JB):                0.436
Skew:                           0.084   Prob(JB):                        0.804
Kurtosis:                       2.871   Cond. No.                         798.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""