### <font color = 'red'> Class 5

In [4]:
# lamba fxn

sum = lambda x,y,z : x + y + z
sum (1,2,3)

6

In [6]:
mul = lambda x , y : x * y
mul ( 55 , 255 )

14025

#### Tuples

###### tuples are enclosed by paranthesis, are immutable and allow duplicate items as values

In [9]:
tuple = ('Hi','there',2,3)
tuple

('Hi', 'there', 2, 3)

In [12]:
print (tuple[0])
print (tuple[1])

Hi
there

In [14]:
len(tuple)

4

In [18]:
tuple = ('Hello','world',1,8,2)
print ('tuple[0] =>',tuple[0])
print ('tuple[-1] =>',tuple[-1])
print ('tuple [1:3] =>',tuple[1:3])
print ('tuple[-3:-1 =>',tuple[-3:-1])
print ('tuple [:2]',tuple[:2])
print ('tuple [2:]',tuple[2:])

tuple[0] => Hello
tuple[-1] => 2
tuple [1:3] => ('world', 1)
tuple[-3:-1 => (1, 8)
tuple [:2] ('Hello', 'world')
tuple [2:] (1, 8, 2)

In [22]:
# when you multiply a tuple the result is broadcasting the tuple the number of times you multiply it
(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

#### Sets

##### unordered, unindexed, doesnt allow duplicates, immutable, enclosed by {}

In [35]:
set = {2,'Hi',5.65,True}
set

{2, 5.65, 'Hi', True}

In [37]:
len(set)

4

In [41]:
# you can loop through a set to access the items
for i in set:
    print(i)

True
2
5.65
Hi

#### Dictionary

##### are ordered, mutable, doesnt allow duplicates

In [45]:
city = {
    'Chicago' : 3.5,
    'New York' : 7,
    'LA' : 6
}
city

{'Chicago': 3.5, 'New York': 7, 'LA': 6}

In [51]:
#access item of dictionary
city['Chicago']

3.5

In [61]:
city.get('Chicago')

3.5

In [65]:
city.keys()

dict_keys(['Chicago', 'New York', 'LA'])

In [67]:
city.values()

dict_values([3.5, 7, 6])

In [69]:
city.items()

dict_items([('Chicago', 3.5), ('New York', 7), ('LA', 6)])

In [71]:
'Chicago' in city

True

In [73]:
'Kathmandu' in city

False

In [75]:
#changing dic items
city['LA'] = 20
city

{'Chicago': 3.5, 'New York': 7, 'LA': 20}

In [77]:
city.update({'Chicago' : 30})
city

{'Chicago': 30, 'New York': 7, 'LA': 20}

In [79]:
# add item
city['Kathmandu'] = 2.5
city

{'Chicago': 30, 'New York': 7, 'LA': 20, 'Kathmandu': 2.5}

In [81]:
city.update({'Pokhara' : 1.5})
city

{'Chicago': 30, 'New York': 7, 'LA': 20, 'Kathmandu': 2.5, 'Pokhara': 1.5}

In [87]:
# remove items in dic
city.pop('Pokhara')
city

{'Chicago': 30, 'New York': 7, 'LA': 20, 'Kathmandu': 2.5}

In [89]:
# city.clear() deletes all items in dic